################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SpotifySongsTracker
/bin/Debug/net8.0/Newtonsoft.Json.dll
/bin/Debug/net8.0/SpotifyAPI.Web.dll
/bin/Debug/net8.0/SpotifySongsTracker.deps.json
/bin/Debug/net8.0/SpotifySongsTracker.dll
/bin/Debug/net8.0/SpotifySongsTracker.exe
/bin/Debug/net8.0/SpotifySongsTracker.pdb
/obj/project.assets.json
/obj/project.nuget.cache
/obj/SpotifySongsTracker.csproj.nuget.dgspec.json
/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/obj/Debug/net8.0/apphost.exe
/obj/Debug/net8.0/SpotifySongsTracker.AssemblyInfo.cs
/obj/Debug/net8.0/SpotifySongsTracker.AssemblyInfoInputs.cache
/obj/Debug/net8.0/SpotifySongsTracker.assets.cache
/obj/Debug/net8.0/SpotifySongsTracker.csproj.CoreCompileInputs.cache
/obj/Debug/net8.0/SpotifySongsTracker.csproj.FileListAbsolute.txt
/obj/Debug/net8.0/SpotifySongsTracker.dll
/obj/Debug/net8.0/SpotifySongsTracker.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net8.0/SpotifySongsTracker.genruntimeconfig.cache
/obj/Debug/net8.0/SpotifySongsTracker.GlobalUsings.g.cs
/obj/Debug/net8.0/SpotifySongsTracker.pdb
/obj/Debug/net8.0/SpotifySongsTracker.sourcelink.json
/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/obj/Release/net8.0/SpotifySongsTracker.AssemblyInfo.cs
/obj/Release/net8.0/SpotifySongsTracker.AssemblyInfoInputs.cache
/obj/Release/net8.0/SpotifySongsTracker.assets.cache
/obj/Release/net8.0/SpotifySongsTracker.GeneratedMSBuildEditorConfig.editorconfig
/obj/Release/net8.0/SpotifySongsTracker.GlobalUsings.g.cs
/obj/SpotifySongsTracker.csproj.nuget.g.props
/obj/SpotifySongsTracker.csproj.nuget.g.targets
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/SpotifySongsTracker/.vs/SpotifySongsTracker/CopilotIndices/0.2.1671.27212/CodeChunks.db
/SpotifySongsTracker/.vs/SpotifySongsTracker/CopilotIndices/0.2.1671.27212/SemanticSymbols.db
/SpotifySongsTracker/.vs/SpotifySongsTracker/CopilotIndices/0.2.1671.27212/SemanticSymbols.db-shm
/SpotifySongsTracker/.vs/SpotifySongsTracker/CopilotIndices/0.2.1671.27212/SemanticSymbols.db-wal
/SpotifySongsTracker/.vs/SpotifySongsTracker/FileContentIndex/57b4ab31-12e9-40f9-bff1-8d283a7e63be.vsidx
/SpotifySongsTracker/.vs/SpotifySongsTracker/FileContentIndex/6c7b8f1b-d8c2-4387-9dc2-fe82d88ca8d7.vsidx
/SpotifySongsTracker/.vs/SpotifySongsTracker/FileContentIndex/c0de3c2b-666f-4dff-af40-690ad255f9f8.vsidx
/SpotifySongsTracker/.vs/SpotifySongsTracker/DesignTimeBuild/.dtbcache.v2
/SpotifySongsTracker/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/SpotifySongsTracker/obj/Debug/net8.0/SpotifySongsTracker.AssemblyInfo.cs
/SpotifySongsTracker/obj/Debug/net8.0/SpotifySongsTracker.AssemblyInfoInputs.cache
/SpotifySongsTracker/obj/Debug/net8.0/SpotifySongsTracker.GeneratedMSBuildEditorConfig.editorconfig
/SpotifySongsTracker/obj/Debug/net8.0/SpotifySongsTracker.GlobalUsings.g.cs
/Tests/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Tests/obj/Debug/net8.0/Tests.AssemblyInfo.cs
/Tests/obj/Debug/net8.0/Tests.AssemblyInfoInputs.cache
/Tests/obj/Debug/net8.0/Tests.assets.cache
/Tests/obj/Debug/net8.0/Tests.csproj.AssemblyReference.cache
/Tests/obj/Debug/net8.0/Tests.GeneratedMSBuildEditorConfig.editorconfig
/Tests/obj/Debug/net8.0/Tests.GlobalUsings.g.cs
/Tests/obj/project.assets.json
/Tests/obj/project.nuget.cache
/Tests/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Tests/obj/Release/net8.0/Tests.AssemblyInfo.cs
/Tests/obj/Release/net8.0/Tests.AssemblyInfoInputs.cache
/Tests/obj/Release/net8.0/Tests.assets.cache
/Tests/obj/Release/net8.0/Tests.csproj.AssemblyReference.cache
/Tests/obj/Release/net8.0/Tests.GeneratedMSBuildEditorConfig.editorconfig
/Tests/obj/Release/net8.0/Tests.GlobalUsings.g.cs
/Tests/obj/Tests.csproj.nuget.dgspec.json
/Tests/obj/Tests.csproj.nuget.g.props
/Tests/obj/Tests.csproj.nuget.g.targets
/bin/Debug/net8.0
/obj/Debug/net8.0/ref/SpotifySongsTracker.dll
/obj/Debug/net8.0/refint/SpotifySongsTracker.dll
/obj/Debug/net8.0/SpotifySongsTracker.csproj.AssemblyReference.cache
/.vs/ProjectEvaluation
/obj/Debug/net8.0
/obj/Container
