################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SpotifySongsTracker
/bin/Debug/net8.0/Newtonsoft.Json.dll
/bin/Debug/net8.0/SpotifyAPI.Web.dll
/bin/Debug/net8.0/SpotifySongsTracker.deps.json
/bin/Debug/net8.0/SpotifySongsTracker.dll
/bin/Debug/net8.0/SpotifySongsTracker.exe
/bin/Debug/net8.0/SpotifySongsTracker.pdb
/obj/project.assets.json
/obj/project.nuget.cache
/obj/SpotifySongsTracker.csproj.nuget.dgspec.json
/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/obj/Debug/net8.0/apphost.exe
/obj/Debug/net8.0/SpotifySongsTracker.AssemblyInfo.cs
/obj/Debug/net8.0/SpotifySongsTracker.AssemblyInfoInputs.cache
/obj/Debug/net8.0/SpotifySongsTracker.assets.cache
/obj/Debug/net8.0/SpotifySongsTracker.csproj.CoreCompileInputs.cache
/obj/Debug/net8.0/SpotifySongsTracker.csproj.FileListAbsolute.txt
/obj/Debug/net8.0/SpotifySongsTracker.dll
/obj/Debug/net8.0/SpotifySongsTracker.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net8.0/SpotifySongsTracker.genruntimeconfig.cache
/obj/Debug/net8.0/SpotifySongsTracker.GlobalUsings.g.cs
/obj/Debug/net8.0/SpotifySongsTracker.pdb
/obj/Debug/net8.0/SpotifySongsTracker.sourcelink.json
/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/obj/Release/net8.0/SpotifySongsTracker.AssemblyInfo.cs
/obj/Release/net8.0/SpotifySongsTracker.AssemblyInfoInputs.cache
/obj/Release/net8.0/SpotifySongsTracker.assets.cache
/obj/Release/net8.0/SpotifySongsTracker.GeneratedMSBuildEditorConfig.editorconfig
/obj/Release/net8.0/SpotifySongsTracker.GlobalUsings.g.cs
/obj/SpotifySongsTracker.csproj.nuget.g.props
/obj/SpotifySongsTracker.csproj.nuget.g.targets
